@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@font-face {
    font-family: "Poppins";
    font-weight: 400;
    font-style: normal;
    src: url("../Fonts/Poppins/Poppins-Regular.ttf") format("ttf");
}
@font-face {
    font-family: "Poppins";
    font-weight: 500;
    font-style: normal;
    src: url("../Fonts/Poppins/Poppins-Medium.ttf") format("ttf");
}
@font-face {
    font-family: "Poppins";
    font-weight: 600;
    font-style: normal;
    src: url("../Fonts/Poppins/Poppins-SemiBold.ttf") format("ttf");
}
@font-face {
    font-family: "Poppins";
    font-weight: 700;
    font-style: normal;
    src: url("../Fonts/Poppins/Poppins-Bold.ttf") format("ttf");
}
@font-face {
    font-family: "Poppins";
    font-weight: 800;
    font-style: normal;
    src: url("../Fonts/Poppins/Poppins-Black.ttf") format("ttf");
}