// Import Styles
@import url("../Css/zeroing.css");
@import url("../Css/Modules/menu.css");
// Include Fonts
@import url("../Css/fonts.css");
//import Icons
body {
    background: #000;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.wrapper {
    max-width: 1920px;
    overflow-x: hidden;
    margin: auto;
    height: fit-content;
}
.container {
    width: 100%;
    position: relative;
    margin: 0 auto;
}
.header__navbar {
    width: 100%;
    padding: 45px 7.291% 126px 7.291%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.block-logo {
    display: flex;
    align-items: center;
}
.logo-text {
    margin: 0px 0px 0px 17px;
    font-size: 37px;
    font-weight: 800;
    line-height: 56px;
}
.menu {
    display: flex;
    align-items: center;
}
.menu_btn {
    color: #707070;
    text-decoration: none;
    padding: 0px 19px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    transition: 0.3s ease-in-out;
}
.menu_btn:hover {color: #3C82F4;}
.drop-down-container {min-width: max-content;}
#drop-down_btn {padding: 0px 19px 0px 0px;}
#drop-down_btn > i {
    min-width: fit-content;
    margin: 0px 0px 0px 9px; 
    font-size: 14px;
}
.block-auth {min-width: max-content;}
.auth_btn {
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    color: #fff;
    background: #306EF7;
    padding: 12px 21px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    transition: 0.3s ease-in-out;
}
#login {
    color: #707070;
    padding: 0px 21px 0px 0px;
    background: rgba(0, 0, 0, 0);
}
#login:hover {color: #3C82F4;}
#signup:hover {background: #2759c5;}
#burg_menu {
    display: none;
    cursor: pointer;
    transition: 0.33s ease-in-out;
    color: #fff;
    font-size: 32px;
}
#burg_menu:hover {
    color: #3C82F4;
}
.block-title {
    max-width: max-content;
    text-align: center;
    margin: 0 auto;
}
.header__title {
    line-height: 1.1em;
    font-size: calc(20px + 92 * (100vw / 1920));
    min-width: max-content;
    font-weight: 700;
}
.gradient-title {
    background: rgb(254,103,131);
    background: linear-gradient(90deg, rgba(254,103,131,1) 0%, rgba(255,191,132,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title-description {
    font-size: calc(30px + 10 * (100vw) / 1920);
    font-weight: 500;
}
.block-info {
    margin: 0 auto;
    padding: 140px 0px 188px 0px;
    text-align: center;
    max-width: 694px;
}
.block-btn {
    flex-wrap: wrap;
    padding: 50px 0px 21px 0px;
    display: flex;
    justify-content: space-evenly;
}
.btn {
    border-radius: 12px;
    min-width: max-content;
    transition: 0.33s ease-in-out;
    outline: none;
    border: none;
    width: 45%;
    max-width: 80%;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    padding: 22px 0px;
}
#start {
    background: #326CF9;
    color: #fff;
}
#start:hover {
    background: #2754c5;
}
#demo {
    border: 1px solid #707070;
    background: rgba(0, 0, 0, 0);
    color: #707070;
}
#demo:hover {
    border-color: #b3b3b3;
    color: #b3b3b3;
}
.result {
    display: flex;
    justify-content: center;
    align-items: center;
}
.result-block {
    display: flex;
    align-items: center;
}
.circle {
    width: 18px;
    height: 18px;
    background: #0FC65C;
    box-shadow: 0px 0px 0px 8px #0fc65b42;
    border-radius: 28px;
}
.result-count {
    font-size: 28px;
    margin: 0px 15px;
    font-weight: 700;
    line-height: 38px;
}
.short-text {
    color: #707070;
    font-weight: 400;
    font-size: 25px;
}
// SecondScreen
.list {
    max-width: 1483px;
    display: block;
    margin: 0 auto;
}
.list-title,
.twits-title {
    text-align: center;
    min-width: max-content;
    font-weight: 600;
    font-size: calc((1vw + 1vh) * 2.6);
    line-height: 125px;
}
.feature-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 64px 0px 162px 0px;
}
.item {
    display: inline-block;
    text-align: center;
    padding: 20px;
    min-width: 28%;
}
.emoji {
    margin: 0px 10px 0px 0px;
}
.block-name-feature {
    justify-content: center;
    padding: 0px 0px 15px 0px;
    display: flex;
    align-items: center;
}
.item__title {

    font-weight: 600;
    font-size: 35px;
    line-height: 52px;

}
.item__text {
    color: #707070;
    font-size: 22px;
    line-height: 33px;
    font-weight: 400;
}
// Third Screen
.third_screen {
    padding: 0px 0px 182px 0px;
}
.step__wrapper {
    margin: 0 auto;
    width: 57.8%;
    text-align: center;
}
.step__wrapper > .btn {
    width: 30%;
}
.number_step {
    font-size: 25px;
    font-weight: 600;
    color: #326CF9;

}
.step_title {
    font-size: calc((1vw + 1vh) * 2);
    font-weight: 500;
}
.sub-title_step {
    padding: 0px 0px 34px 0px;
    color: #707070;
    font-size: calc((1vw + 1vh) * 0.9);
}
// FourthScreen
.wrapper_hero {
    padding: 0px 0px 0px 180px;
    display: flex;

    justify-content: space-between;
}
.hero_stamp {
    margin: 0px 0px 80px 0px;
    font-size: calc((1vw + 1vh) * .99);
    font-weight: 500;
}
.title-hero {
    padding: 0px 0px 27px 0px;
    font-size: calc((1vw + 1vh) * 2.6);
    font-weight: 600;
}
.reason-text {
    font-size: calc((1vw + 1vh) * .6);
}
.hero-img {
    max-height: 680px;
    justify-content: right;
    max-width: 80%;
}
.reason-item:first-child {
    padding: 0px 0px 10px 0px;
}
.reason-item {
    display: flex;
    align-items: center;
}
.count-reason {
    background: #2d2d2d;
    text-align: center;
    border-radius: 20px;
    margin-right: 15px;
    width: 24px;
    height: 24px;
}
.hero-phrase {
    color: #326CF9;
}
.hero-desc > .block-btn > .btn{
    max-width: 45%;
}
.block-hero {
    transition: ease-in-out;
}
.block-hero > .container {
    justify-content: flex-end;
}
// FifthScreen
.fifth_screen {
    padding: 53px 0px 160px 0px;
}
// SixthScreen
.wrapper-block-getstarted {
    margin: 0 auto;
    text-align: center;
}
.cards {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 0px 49px 0px;
}
.card-info {
    padding: 33px 0px 0px 45px;
    position: relative;
    background: #2B2B29;
    height: 80vh;
    max-height: 666px;
    width: 45%;
    max-width: 854px;
}
.stamp {
    font-size: calc((1vw + 1vh) * 1.3);
    color: #0FC65C;
    text-align: left;
    font-weight: 400;
}
.card-title {
    display: block;
    font-size: calc((1vw + 1vh) * 2.3);
    color: #fff;
    text-align: left;
    font-weight: 600;
}
.card-title-span {
    color: #919191;
}
.card-title_block {
    padding: 26px 0px 14px 0px;
}
.card-img {
    position: absolute;
    bottom: 0;
    right: 0;
}
#card-second-title {
    padding: 96px 0px 0px 0px;
}
.card-btn {
    width: 15%;
}
// SeventhScreen
.seventh_screen {
    padding: 155px 0px;
}
// EigthScreen
.eigth_screen {
    padding: 0px 0px 100px 0px;
}
// NinethScreen
.nineth_screen {
    padding: 0px 0px 188px 0px;
}
.picure-twit {
    margin: 52px auto 0px auto;
    width: 94%;
}
// TenthScreen
.tenth_screen {
    padding: 0px 0px 188px 0px;
}
.smile_wrapper {
    background-image: url("../Img/PNG/BG_Faces.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.smile-title {
    font-weight: 600;
    padding: 301px 0px 288px 0px;
    text-align: center;
    font-size: calc((1vw + 1vh) * 2.28);
}
// EleventhScreen
.site_wrapper {
    margin: 0 auto;
    padding: 0px 0px 183px 0px;
    justify-content: center;
    text-align: center;
}
.site-logo {
    width: 165px;
    margin: 0 auto;
}
.site-header {
    padding: 20px 0px 0px 0px;
}
.site-title {
    font-size: calc((1vw + 1vh) * 3.05);
}
.site-sub-title {
    font-size: calc((1vw + 1vh) * 1.2);
}
.site_wrapper > .btn{
    max-width: 472px;
    margin: 14px 0px 26px 0px;
    width: 60%;
}
// Footer
.footer_menu {
    display: flex;
    width: 84%;
    padding: 0px 0px 96px 0px;
    margin: auto;
    justify-content: space-between;
}
.logo-title {
    display: flex;
}
.author-email {
    color: #707070;
    font-size: calc((1vw + 1vh) * 0.8);
}
.invisible {
    visibility: hidden;
}
// <------------ Preloader ------------>
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 2;

}
$color: #49b8e5, #1e98d4, #2a92d0, #3a88c8, #507cbe; 
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
$circle-size: 20px;
$circle-margin: 7px; 
.circle-preloader {
  width: $circle-size;
  height: $circle-size;
  border-radius: 50%;
  margin: $circle-margin;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    content: "";
    width: $circle-size;
    height: $circle-size;
    border-radius: 50%;
    opacity: 0.7;
    animation: scale 2s infinite 
      cubic-bezier(0, 0, 0.49, 1.02);
  }
}
@for $i from 1 through 5 {
  .circle-#{$i} {
    background-color: nth($color, $i);
    &:before {
      background-color: nth($color, $i);
      animation-delay: 200ms * $i;
    }
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%, 75% {
    transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}
.done {
    display: none;
}